.heading {
  text-align: center;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  background: #eaeaea;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  align-self: center;
}
