.heading {
  text-align: center;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  background: #eaeaea;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  align-self: center;
}

.modal {
  position: absolute;
  width: 50rem;
  height: 35rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;    
}
